
<h1>Semester Settings</h1>

<div class="row-fluid">
  <div class="span12">

    <!-- Read, Update, Delete -->
    <% @semesters.each do |semester| %>
      <%= render partial: "shared/list_item", locals: { item: semester, options: [
        { label: "Details", controller: "semesters", action: "show", method: "get", confirm: false }, 
        { label: "Edit", controller: "semesters", action: "edit", method: "get", confirm: false }, 
        { label: "Delete", controller: "semesters", action: "destroy", method: "delete", confirm: "Are you sure?" }
      ] } %>
    <% end %>

    <!-- Create -->
    <div class="row-fluid">
      <%= link_to controller: "semesters", action: "new" do %>
        <div class="span6 offset3 btn">
          <center>
            Create New Semester
          </center>
        </div>
      <% end %>
    </div>

  </div>
</div>

