<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h1>Semester Settings</h1>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">

    <!-- Read, Update, Delete -->
    <% @semesters.each do |semester| %>
      <div class="row-fluid">
        <div class="span12 well well-small">

          <span>
            <%= link_to semester.name, semester_path(semester) %>
          </span>

          <span class="pull-right">
            <div class="btn-group">
              <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu pull-right">
                <li><%= link_to "Edit", {controller: "semesters", action: "edit", id: semester} %></li>
                <li><%= link_to "Delete", {controller: "semesters", action: "destroy", id: semester}, :method => :delete, confirm: "Are you sure?" %></li>
              </ul>
            </div>
          </span>

        </div>
      </div>
    <% end %>

    <!-- Create -->
    <div class="row-fluid">
      <%= link_to controller: "semesters", action: "new" do %>
        <div class="span6 offset3 btn">
          <center>
            Create New Semester
          </center>
        </div>
      <% end %>
    </div>

  </div>
</div>

