<h1>Editing Page Text</h1>

<h4>Edit and format the text as you would like it to appear on your page</h4>


<%= render 'form' %>

<%= link_to 'Show', @page_text %> |
<%= link_to 'Back', page_texts_path %>
