<h1>Manage groups</h1>
<br>
<table>
  <tr>
    <th>Group Name</th>
    <th>Group Members</th>
    <th>Proposals</th>
  </tr>

  <% @groups.each do |group| %>
    <tr>

      <td><%= group.name %></td>
      
      <td>
        <ul>
          <% group.students.each do |student| %>
            <li>
            <%= render :partial => "users/details_popover", :locals => {user: student, placement: "bottom"} %>
            </li>
          <% end %>
        </ul>
      </td>

      <td>
        <ul>
          <% group.proposals.each do |proposal| %>
            <li>
            <%= render :partial => "proposals/details_popover", :locals => {proposal: proposal, placement: "bottom"} %>
            </li>
          <% end %>
        </ul>
      </td>

    </tr>
  <% end %>
</table>

