<h1>User Profile</h1>

<%= render :partial => "users/details", :locals => {user: @user} %>

<div class="form-actions">
  <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(@user), :class => 'btn' %>
</div>
