<span class="pull-right">
  <div class="btn-group">
    <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right">
      <% options.each do |option| %>
        <% if option.has_key? :parameter %>
          <li><%= link_to "#{option[:label]}", {controller: option[:controller], action: option[:action], id: option[:id], option[:parameter][:key] => option[:parameter][:value]}, method: option[:method], confirm: option[:confirm] %></li>
        <% else %>
          <li><%= link_to option[:label], {controller: option[:controller], action: option[:action], id: option[:id]}, method: option[:method], confirm: option[:confirm] %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</span>

