<div class="row-fluid">
  <div class="span12 well well-small">

    <span>
      <% if main_link %>
        <%= link_to main_link[:label], {controller: main_link[:controller], action: main_link[:action], id: item.id}, method: main_link[:method], confirm: main_link[:confirm] %>
      <% else %>
        <%= "#{item.name}" %>
      <% end %>
    </span>

    <span class="pull-right">
      <div class="btn-group">
        <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <% options.each do |option| %>
            <li><%= link_to option[:label], {controller: option[:controller], action: option[:action], id: item.id}, method: option[:method], confirm: option[:confirm] %></li>
          <% end %>
        </ul>
      </div>
    </span>

  </div>
</div>

