
<% if current_user %>

  <!-- 
  options to display if there is a 
  student/faculty/admin that has logged in 
  --> 

  <div class="row-fluid">
    <div class="span12">
      <center><h1>Welcome <%= "#{current_user.gtusername}" %></h1></center>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <center>
        <br />
        <%= link_to "Submit a Project", new_project_path(), class: "btn btn-large btn-primary" %>
      </center>
    </div>
  </div>

<% else %>

  <!-- 
  options to display if there is a 
  no user logged in 
  --> 

  <div class="row-fluid">
    <div class="span12">
      <center><h1>Sponsors</h1></center>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <center>
        <br />
        <%= link_to "Submit a Project", new_project_path(), class: "btn btn-large btn-primary" %>
      </center>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />

  <div class="row-fluid">
    <div class="span12">
      <center><h1>Students and Faculty</h1></center>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <center>
        <br />
        <%= link_to "Click here to Login", home_login_with_CAS_path(), class: "btn btn-large btn-primary" %>
      </center>
    </div>
  </div>

<% end %>
