<h1>Listing Page Itemes</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @page_items.each do |page_text| %>
  <tr>
    <td><%= page_text.description %></td>
    <td><%= link_to 'Show', page_text %></td>
    <td><%= link_to 'Edit', edit_page_text_path(page_text) %></td>
    <td><%= link_to 'Destroy', page_text, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>