<p>The Capstone Design Expo is the culmination of many engineering majors’ undergraduate careers. Students studying mechanical engineering, biomedical engineering (BME), and industrial design (ID) team up to create projects, which then compete for awards. This Fall, more than 350 graduating seniors presented their work.
</p>
<p>
“Capstone Design allows engineering students to learn how to function on multidisciplinary teams to solve problems,” said Laurence Jacobs, a professor of civil and environmental engineering and associate dean for academic affairs. “It also challenges our students to think, not just learn. Through this course they collaborate, lead and participate in teams experiencing true hands-on activities.”
</p>
<p>
Another winning team was Vertibral Horizon, which was honored for best ME project. The team members (Luke Pollock, Matt Rothberg and Drew Bolduc of ME; Mike Glatzer and Matt Ho of BME) offered a project to reduce effort exerted by surgeons during a spinal corrective procedure.   
<p>