<h1>Industry</h1>
    <p><medium>In this class, undergraduate students at Georgia Institute of Technology design, build and test prototypes with real world  applications and compete against each other at an end of the semester Design Expo. In addition to their hands on experience, students are also taught principles of design, manufacturing and entrepreneurship through invited lectures from experts in industry and academia.

</medium></p>

<p>
The objectives of this class are to:
</br>
1. Develop engineering leaders with strong technical and entrepreneurial skills.
</br>
2. Developing their skills to work in an interdisciplinary environment
</br>
</br>

Detailed outline of the class is available in  <%= link_to " the attached document.", root_url+"/forms_and_files/GT_Capstone_Design_sponsor_proposal.pdf" %>
</br>
</br>

<h3>Want to Submit a Project? </h3>

<%= link_to 'Click here', projects_path %>

<h3>Want to be a Project Mentor? </h3>

<%= link_to 'Click here', projects_path %>


Some companies who have contributed to the growth and development of the Capstone design program are included below and we thank them on behalf of Georgia Institute of Technology
</p>



