<% options = [] %>

<% options.push({ 
  label: "Details",  
  controller: "projects",
  action: "show",
  id: project.id,
  method: "get",
  confirm: false}) 
%>

<h6>Option to Propose</h6>

<%= render :partial => "shared/dropdown_actions", :locals => {options: options.reverse!} %>

