<div class="row-fluid">
  <div class="span6">
    <h5>Summary</h5>
    <%= render :partial => 'project_summary', :locals => {:project => project} %>
  </div>
  <div class="span6">
    <h5>Actions</h5>
    <% if type_of_user == "admin" %>
      <%= render :partial => 'project_actions_admin', :locals => {:project => project} %>
    <% elsif type_of_user == "faculty" %>
      <%= render :partial => 'project_actions_faculty', :locals => {:project => project} %>
    <% end %>
  </div>
</div>

