<h4>Summary</h4>
<table>
  <tr>
    <th>Name</th>
    <% School.all.each do |s| %>
      <th><%= "#{s.name}" %></th>
    <% end %>
  </tr>
  <% projects.each do |project| %>
    <tr>
      <td><%= link_to project.name, project_path(project) %></td>

      <% School.all.each do |s| %>
        <% if project.schools.include?(s) %>
          <td style="text-align: center;"><%= "*" %></td>
        <% else %>
          <td></td>
        <% end %>
      <% end %>

    </tr>
  <% end %>
</table>

