<div class="row-fluid">
  <div class="span12">
    <h3><%= link_to project.name, project_path(project) %></h3>

    <dl class="dl-horizontal">

      <% if project.company %>
        <dt><strong>Submitted by:</strong></dt>
        <dd><%= project.company.name %></dd>
      <% elsif project.submitter %>
      <% end %>

      <dt><strong>Background:</strong></dt>
      <dd><%= project.background %></dd>

    </dl>

  </div>
</div>
