<%- model_class = Project -%>
<h1><%= @project.name_humanize %></h1>

<div class="row-fluid">
  <div class="span12">
    <%= link_to "Open Submitted Form", @project.form.url, :target => "_blank", :class => "btn btn-primary" %>
  </div>
</div>

<br />

<div class="row-fluid">
  <div class="span12">
    <%= render :partial => 'online_form' %>
  </div>
</div>
