<div class="row-fluid">
  <div class="span12 well">
    Thank you for submitting the "<%= @project.name %>" project. 
    <br />
    Would you like to <%= link_to " submit another one?", projects_path %>
  </div>
</div>
