<h1>List of Projects</h1>
<br>
<center><%= link_to "Submit A New Project", new_project_path, :class => 'btn btn-primary' %></center>
<br>
<br>

<% @projects.each do |project| %>
  <div class="row-fluid">
    <div class="span12 well">

      <div class="row-fluid">
        <div class="span10">
          <%= render :partial => "summary", :locals => {:project => project} %>
        </div>
        <div class="span2">
          <%= render :partial => "actions", :locals => {:project => project} %>
        </div>
      </div>

    </div>
  </div>
<% end %>

