<%- model_class = Project -%>
<h1>Submit A New Project</h1>
<br>
<div class="row-fluid">
  <div class="span12">
    Complete the form below or upload a copy of the completed form to submit a project. Please <strong>DO NOT </strong> include any proprietary or confidental information.<br />
  </div>
</div>

<br />
    <%= render :partial => 'form' %>
