<div class="row-fluid">
  <div class="span12 well">

    <div class="row-fluid">
      <div class="span11">
        <%= render :partial => "all_info", :locals => {:project => @project} %>
      </div>
      <div class="span1">
        <%= render :partial => "actions", :locals => {:project => @project} %>
      </div>
    </div>

    <hr />

    <div class="row-fluid">
      <div class="span12">
        <%= render :partial => "more_info", :locals => {:project => @project} %>
      </div>
    </div>

  </div>
</div>

<div class="form-actions">
  <%= link_to "Back to Projects", projects_path, :class => 'btn'  %>
</div>
