<h1>Editing Page Subheading</h1>

<h4>Edit and format the text as you would like it to appear on your page</h4>

<%= render 'form' %>

<%= link_to 'Show', @page_subheading %> |
<%= link_to 'Back', page_subheadings_path %>
