<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @page_subheading.title %>
</p>


<%= link_to 'Edit', edit_page_subheading_path(@page_subheading) %> |
<%= link_to 'Back', page_subheadings_path %>
