<div class="row-fluid">
  <div class="span12">
    <h1>Project Proposals</h1>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#online" data-toggle="tab">Submitted Proposals</a></li>
      <li><a href="#manual" data-toggle="tab">Submit A Proposal</a></li>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <div class="tab-content">
      <div class="tab-pane fade in active" id="online">
        <%= render :partial => 'list_student' %>
      </div>
      <div class="tab-pane fade in" id="manual">
        <%= render :partial => 'proposal_submission' %>
      </div>
    </div>
  </div>
</div>


