<h1>Proposal Details</h1>

<%= render :partial => "proposals/details", :locals => {proposal: @proposal} %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              proposals_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_proposal_path(@proposal), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              proposal_path(@proposal),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
